<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restone</title>
</head>

<body>

  <!-- Header Section  -->
  <header>
    <a href="./index.html" class="logo">Rest<span tabindex="-1">one</span></a>
    <nav id="drawer">
      <ul class="links-nav">
        <li><a href="./index.html">Home</a></li>
        <li><a href="#">Favorite</a></li>
        <li><a href="https://github.com/nararyacodetechy">About us</a></li>
      </ul>
    </nav>
    <a id="hamburger" class="canvas-menu" href="#">☰</a>
  </header>
  <!-- Header Section  -->

  <!-- Main Section  -->
  <main>
    <section class="jumbotron">
      <h1 tabindex="0" class="title">Restone <span tabindex="-1">Cafe</span></h1>
      <h2 tabindex="0" class="description"><span tabindex="-1">“</span> Delicious meal with a Million Impressions <span
          tabindex="-1">”</span></h2>
      <a href="#" class="join">Join The Restone</a>
    </section>
    <section class="list-content">
      <div class="big-title">
        <h1 tabindex="0">Explore <span tabindex="-1">Cafe</span></h1>
      </div>
      <div class="container">
        <div class="list-cards" id="list-cafe">

        </div>
      </div>
    </section>
  </main>
  <!-- Main Section  -->

  <!-- Footer Section -->
  <footer>
    <section class="footer-links">
      <div class="links">
        <b tabindex="0" class="title">About Me</b>
        <ul class="sub-links">
          <li><a href="">Company Profile</a></li>
          <li><a href="">Service Level Agreement</a></li>
          <li><a href="">Service Rule</a></li>
          <li><a href="">Payment Guide</a></li>
          <li><a href="">Documentation</a></li>
          <li><a href="">Sertification</a></li>
        </ul>
      </div>
      <div class="links">
        <b tabindex="0" class="title">Partner</b>
        <ul class="sub-links">
          <li><a href="">Afiliasi</a></li>
          <li><a href="">Colaboration</a></li>
          <li><a href="">Referral Program</a></li>
          <li><a href="">Payment Guide</a></li>
          <li><a href="">Follow Us</a></li>
          <li><a href="">Whatsapp</a></li>
        </ul>
      </div>
      <div class="links">
        <b tabindex="0" class="title">Privacy</b>
        <ul class="sub-links">
          <li><a href="">Knowlegde</a></li>
          <li><a href="">Service Level Agreement</a></li>
          <li><a href="">Service Rule</a></li>
          <li><a href="">Payment Guide</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
      <div class="links">
        <b tabindex="0" class="title">More Links</b>
        <ul class="sub-links">
          <li><a href="">News International</a></li>
          <li><a href="">Blog & More Websites</a></li>
          <li><a href="">Top Rangking</a></li>
          <li><a href="">Product of Sale</a></li>
        </ul>
      </div>
    </section>
    <section class="footer-copyright">
      <p tabindex="0">Copyright &copy; 2023 - Restone.inc</p>
    </section>
  </footer>
  <!-- Footer Section -->

</body>

</html>